.account-edit {
    width: 400px;
    background-color: #36393f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 20px;



    position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  }
  
  .account-edit__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .account-edit__header h2 {
    margin: 0;
  }
  
  .account-edit__close {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .account-edit__content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .account-edit__profile {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .account-edit__profile-image {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .account-edit__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .account-edit__profile-image input {
    display: none;
  }
  
  .account-edit__form {
    flex: 1;
    margin-left: 20px;
  }
  
  .account-edit__form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #202225;
    color: #fff;
    border: none;
    
  }
  
  .account-edit__footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .account-edit__save {
    padding: 8px 20px;
    background-color: #fcde67;
    border: none;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .account-edit__save:hover {
    background-color: #fbd73e;
  }

  .account-edit__profile-image-frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #202225;
    overflow: hidden;
  }
  
  .account-edit__profile-image-frame span {
    color: #fff;
    font-size: 14px;
  }
  
  .account-edit__profile-image-frame img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .account-edit__profile-image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .account-edit__profile-image-remove {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .account-edit__profile-image-remove:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  