
.leaderboard__box {
    position: relative;

}

.leaderboard__box > h1 {
    text-align: center;
}
.table__box {
    width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
  
  .table  {
    width: 60%;
    border-collapse: separate;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
    border-spacing: 0 20px;

  }
  
  .table tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
    text-align: center;
  }
  
  .table tr:not(.firsty):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
  }
  
  .table tr:not(.firsty):nth-child(odd) {
    background-color: #5bccf6;
  }
  
  
  .table td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
  }

  .table > .number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .table > .name {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .table > .points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .table > .points:first-child {
    width: 10rem;
  }