

/* UniAbout.css */
.favorites__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  

.slick-slider {
  display: flex!important;
}
  .slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
    overflow: hidden;
    outline: none;
    transition: 0.3s ease;
  }

  .slider-item:hover {
    scale: 1.1;
  }

  
  .slider-item img {
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: cover;
  }
  
  .slider-item p {
    margin-top: 10px;
  }
  
.rec__uni {
  display: block;
}

.rec__uni__item {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.rec__uni__item:hover {
  opacity: 0.7;
}

.rec__uni__item > img {
  width: 400px;
  object-fit: cover;
  height: 300px;

}

.rec__uni__item > p {
  padding-left: 50px;
  color: #000;
}

.animation-container {
  position: relative;
  width: 100px; /* Adjust the width to fit your desired animation size */
  height: 100px; /* Adjust the height to fit your desired animation size */
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px; /* Adjust the font size to fit your desired animation size */
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: #fcde67;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, -20px); /* Adjust the vertical translation distance */
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

p.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end), erasing 1s 2s steps(40, end) infinite alternate;
}

.banner__right {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  color: #000;
}
.banner__details {
  display: flex;
  justify-content: space-between;
}

#btn__set {
  margin-right: 10px;
}

#banner__prof {
  min-height: 600px;
}

#btn_hidy {
  position: absolute;
  z-index: 11;
  top: 0;
  margin-top: 20px;
  left: 30%;
}

.acc__btn {
}

@media (max-width: 768px) {
  

  #banner__prof {
    min-height: 300px;
  }
  .btn-primary {
    display: none;
  }
  .banner__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner__details {
    display: block;
    padding-bottom: 20px;
  }

  #btn_hidy {
    display: none;
  }


  .favorites__slider {
    margin-bottom: 20px;
  }

  .slider-item {
    margin: 0 5px;
  }

  .slider-item img {
    width: 100%;
    height: auto;
  }

  .rec__uni__item {
    margin-bottom: 20px;
    display: block;
  }

  .rec__uni__item > img {
    width: 100%;
    height: auto;
  }

  .rec__uni__item > p {
    padding-left: 0;
  }
}