.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  transition: all .3s ease-in-out;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
}

.pl__pr8 {
  padding-left: 8px;
  padding-right: 8px;
}

a { 
  text-decoration: none;
  
}
a:visited {
  color: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

#sort-select{
  appearance: none;
  background-color: transparent;
  padding: 10px;
  margin: 0;
  width: 75%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  cursor: pointer;
  margin: 15px 0px;
}

